.input-container {
  margin-bottom: 1rem;
}

.label {
  display: block;
  text-align: left;
  font-weight: 500;
  margin-bottom: 0.5rem;
  color: #333;

}

.input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  box-sizing: border-box;

}