<div class="modal-content">
  <h2>{{ patient ? 'Actualizar paciente' : 'Registrar paciente' }}</h2>

  <div class="form-group">
    <label>Nombre:</label>
    <input
      type="text"
      [value]="formData.nombre"
      (input)="onInputChange('nombre', $event.target.value)"
      placeholder="Juan Pérez"
      class="input-field"
    />
  </div>

  <div class="form-group">
    <label>Diagnóstico:</label>
    <input
      type="text"
      [value]="formData.diagnostico"
      (input)="onInputChange('diagnostico', $event.target.value)"
      placeholder="Parkinson leve"
      class="input-field"
    />
  </div>

  <div class="form-group">
    <label>Correo:</label>
    <input
      type="email"
      [value]="formData.correo"
      (input)="onInputChange('correo', $event.target.value)"
      placeholder="correo@ejemplo.com"
      class="input-field"
    />
  </div>

  <div class="modal-actions">
    <button class="btn btn-cancel" (click)="onCancel()">Cancelar</button>
    <button 
      class="btn"
      [class.btn-save-registrar]="!patient"
      [class.btn-save-actualizar]="patient"
      (click)="onSave()"
    >
      {{ patient ? 'Guardar' : 'Guardar' }}
    </button>
 </div>
</div>